@import url("./_fonts.css");
@import url("./_variables.css");
@import url("./_normalize.css");

html {
  font-size: var(--html-font-size);
}

body {
  font-size: var(--default-body-font-size);
  font-family: var(--font-family-regular);
}
